@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;1,200&display=swap');

*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:root{
  --color-background: #0f0f0f;

}

.header{
background: var(--color-background);
display: flex;

}
.body{
  background: var(--color-background);
  color: #9b9996;
}

a{
  text-decoration: none;

}

a:link, a:visited{
  color: #9b9996;
  font-size: 14px;
}

h1{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 66px;
  font-weight: 500;
  color: #9b9996;
}

.ailogo{
width: 215px;
height: 157px;
}
